.header {
    background-color: #fff; /* Color de fondo del header */
    padding: 20px; /* Espacio interno */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 17, 255, 0.1); /* Sombra suave */
  }
  
.logo-container {
    flex: 1; /* El logo ocupa el espacio disponible */
}
  
.logo {
    text-decoration: none;
    color: #333; /* Color del texto */
    display: inline-block;
}
  
.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
}
  
.logo-subtext {
    font-size: 0.8rem;
    color: #666; /* Color del subtexto */
}
  
.nav-menu {
    flex: 1; /* El menú ocupa el espacio disponible */
}
  
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
  
.nav-link {
    text-decoration: none;
    color: #333; /* Color del enlace */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}
  
.nav-link:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
    color: #555; /* Color del texto al pasar el mouse */
}